/* bodyタグのスタイル */
body{
    /* box-sizing: border-box; サイズの計算方法を変更する設定（コメントアウトされている） */
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    /* フォントファミリーを指定。日本語フォント（游ゴシック、ヒラギノなど）を優先し、英字はsans-serif（サンセリフ）を使用 */
}

header h2{
    color: black; /* 文字色を黒に設定 */
    padding: 1px; /* 内側の余白を1pxに設定 */
    font-size: 13px; /* フォントサイズを13pxに設定 */
    margin-bottom: 0%; /* 下側のマージンを0に設定（余白なし） */
}

#title{
    text-align: center; /* テキストを中央揃えに設定 */
    margin: 0%; /* マージンを0に設定（外側の余白なし） */
    padding: 10px; /* 内側の余白を1pxに設定 */
    font-size: 50px;
    
    padding: 1rem 3rem;
    color: #fff;
    border-radius: 100vh;
    background-image: -webkit-gradient(linear, right top, left top, from(#00e3ae), to(#0071e3));
    background-image: -webkit-linear-gradient(right, #00e3ae 0%, #0071e3 100%);
    background-image: linear-gradient(to left, #00e3ae 0%, #0071e3 100%);

}

#display{
    display: flex; /*フレックスボックスレイアウトを使用 */
    justify-content: space-between;
    width: 1080px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}
#main{
    font-size: 22px;
    flex-grow: 1;
    max-width: 900px;
}

#subtitle{
    font-size: 35px;
    background: #f3f3f3; /* 背景色を淡い灰色に設定 */
    border-left: 5px solid #3d67a9; /* 左側に3pxの青い線を引く */
}
nav li{
    margin-right: 10%;
    list-style-type: none; /* リストアイコン（箇条書きの点）を非表示 */
    padding: 0.8rem; /* 内側の余白を0.8remに設定 */
    border-top: 1px solid #707070; /* 上に1pxの灰色の線を引く */
    border-right: 1px solid #707070; /* 右に1pxの灰色の線を引く */
    border-bottom: 4px solid #3d67a9; /* 下に4pxの青い線を引く */
    border-left: 1px solid #707070; /* 左に1pxの灰色の線を引く */
}
.MSゴシック{
    margin-left: 70px;
    margin-right: 70px;
    font-weight: bold;
}

#border{
    border-bottom: 2px solid #707070; 
    margin:10px
}

#letter {
    margin: 50px;
    color: #fff;
    position: relative;
    padding: 1rem 2rem calc(1rem + 10px);
    background: #6996dd;
}
  
#letter:before {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    content: '';
    border: 4px solid #000;
}
/*サイドバー*/
aside{
    flex-shrink: 0; /* 要素が縮小しないように設定 */
    width: 250px; /* 幅を250pxに設定 */
    display: block; /* 要素をブロック表示に設定 */
    margin-left: 20px; /* 左側に20pxのマージンを追加 */
}
aside h2{
    align-items: center;
    background-color: #6a8fe0; /* 背景色を非常に薄い灰色に設定 */
    color:white ;
    padding: 1rem 1rem 1.5rem 1.6rem;
    margin-bottom: -6.5%;
}
#saidber{
    padding-top: 5% ;
    font-weight: 500;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
	font-size: 20px;
}
.saidber2{
    font-size:100px;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.saidber3{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

aside ul{
    padding: 0 1.6rem;
    border: 1px solid #bbb;
}
.hover{
    text-decoration: none;
    color: #0066ff;
}
.hover:hover{
    text-decoration: none;
    cursor: pointer;
    color: rgb(226, 43, 104);
}

/*↑サイドバーのCSSやで*/
footer{
    width: 1080px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}
#transfer{
    float: right;
}