@charset "UTF-8";

html,body {
    overflow: hidden;
  }
/*ヘッダー*/
.header{
    text-align: center
}
/*ヘッダーここまで*/
h1 {
    font-size: 4em;
    font-family: "Klee One", cursive;
    font-weight: 600;
    font-style: normal;
}
/*ボタン*/
.button a {
    background: #eee;
    border-radius: 9999px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 250px;
    padding: 10px 25px;
    color: #333333;
    line-height: 4;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    font-size: 1.2em;
    font-family: "Klee One", cursive;
    font-weight: 600;
    font-style: normal;
}
.button a:hover {
    background: #333333;
    color: #FFF;
    transform: translateY(-2px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 30%), 0 0 5px rgb(0 0 0 / 30%);
}
.button a:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.button a:hover:after {
    border-color: #FFF;
}
body{
    vertical-align:middle; 
    padding: 50px 0;
    text-align: center;
}
/*ボタンここまで*/

/* プレビュー内容を隠す */
.preview {
    position: absolute;
    top: 25%;
    left: 50%; /* ボタンの右に表示 */
    margin-left: 170px; /* ボタンとの間隔 */
    width: 250px;
    height: 560px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: none;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-align: left;
}

/* ボタンにホバーしたときにプレビューを表示 */
.button a:hover + .preview {
    display: block;
}

/* プレビューヘッダー */
.preview h4 {
    font-size: 16px;
    margin-bottom: 10px;
}