.fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    margin: auto;
    border: 2px solid #d9d9d9;
    padding: 40px 10px 0px 40px;
    width: 70%;
    max-width: 700px;
    border-radius: 20px;
}

.header {
    background-color: #393f4c;
}

h1 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #efffff;
    display: inline;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2 {
    display: inline;
}

h4 {
    margin-bottom: 30px;
    color: #efffff;
    display: inline;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
}

input {
    padding: 8px 10px;
    border-radius: 10px;
    transition: .3s ease;
    color: #868283;
}


input:focus {
    outline: 0;
    border-color: #9effff;
    background-color: #efffff;
}

.button button {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 250px;
    padding: 10px 25px;
    color: #333;
    line-height: 1.8;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    background: #ffd700;
    border-radius: 10px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    border: none;
}

.button button:hover {
    color: #333;
    background: #ffc800;
}

.test {
    text-align: right;
    margin-right: 20px;
}